<section  class="about_info_container" id="about">
  <div class="about_container">
    <h1 class="about_title">Get to know me!</h1>
    <p class="about_info">
      I started my career in programming in 2017, when I took my first programming course at school. Since then, I've been working on personal projects and collaborating with different companies and organisations.
      <br>
      <br>
      My goal is to create products that offer exceptional experiences, with an attractive, intuitive and high quality design.
      <br>
      <br>
      I am always willing to learn new technologies and to face new work challenges that allow me to keep growing professionally.
    </p>
    <div class="content">
      <h1 class="about_subtitle" style="margin-top: 30px;">Experience</h1>
      <ul class="team">
        <li class="member co-funder1">
          <div class="thumb"><img src="https://vidcache.net:8161/static/4300a3370a3ecbc2b81d660e225a687c5b0961cb/idrix_logo.jpg"></div>
          <div class="description">
            <h3>FullStack Developer</h3>
            <p>Development and maintenance of modules in different web and mobile applications for the company Idrix Technologies S.A.<br><a target="_blank" href="https://www.linkedin.com/in/steven-fernando-barragan-montero-27115b264/details/experience/">More +</a></p>
          </div>
        </li>
        <li class="member co-funder2">
          <div class="thumb"><img src="https://vidcache.net:8161/static/e89d70be2b139d922b0967148f9cddc3a4cfbda0/espe.jpeg"></div>
          <div class="description">
            <h3>Teaching Assistant</h3>
            <p>Teaching assistant in the social project, Inclusive Digital Enlistment for rural and marginal urban parishes in the province of Santo Domingo de los Tsachilas.<br><a target="_blank" href="https://www.linkedin.com/in/steven-fernando-barragan-montero-27115b264/details/experience/">More +</a></p>
          </div>
        </li>
      </ul>

    </div>
  </div>
  <div class="skills_container">
    <h1 class="skills_title">Skills</h1>
    <h2 class="skills_subtitle">Frontend</h2>
    <section class="skills_list">
      <div class="nft">
        <div class='main'>
          <img class='tokenImage' src="https://vidcache.net:8161/static/32f58f1052010ff74e90a247acc0e0531bd11a95/html_icon.png" alt="HTML" />
          <hr />
          <div class='creator'>
            <p><ins>HTML</ins></p>
          </div>
        </div>
      </div>
      <div class="nft">
        <div class='main'>
          <img class='tokenImage' src="https://vidcache.net:8161/static/3229f8768b25baa50145572796b322d71a9485a9/css_icon.png" alt="CSS" />
          <hr />
          <div class='creator'>
            <p><ins>CSS</ins></p>
          </div>
        </div>
      </div>
      <div class="nft">
        <div class='main'>
          <img class='tokenImage' src="https://vidcache.net:8161/static/1ae6a52d9dcd2e4fc8b4d52fd7dcacf0c23b75c3/javascript_icon.png" alt="JAVASCRIPT" />
          <hr />
          <div class='creator'>
            <p><ins>JavaScript</ins></p>
          </div>
        </div>
      </div>
      <div class="nft">
        <div class='main'>
          <img class='tokenImage' src="https://vidcache.net:8161/static/1da9345797d14afa3803619630ae86defd1fb58a/typescript_icon.png" alt="TYPESCRIPT" />
          <hr />
          <div class='creator'>
            <p><ins>TypeScript</ins></p>
          </div>
        </div>
      </div>
      <div class="nft">
        <div class='main'>
          <img class='tokenImage' src="https://vidcache.net:8161/static/6cad34b76533754950862f53956d743485ad64d0/angular_icon.png" alt="ANGULAR" />
          <hr />
          <div class='creator'>
            <p><ins>Angular</ins></p>
          </div>
        </div>
      </div>
      <div class="nft">
        <div class='main'>
          <img class='tokenImage' src="https://vidcache.net:8161/static/3e36258084a33160b65be75e85d28bc4f25c2075/ionic_icon.png" alt="IONIC" />
          <hr />
          <div class='creator'>
            <p><ins>Ionic</ins></p>
          </div>
        </div>
      </div>
      <div class="nft">
        <div class='main'>
          <img class='tokenImage' src="https://vidcache.net:8161/static/8f78df66903f7678203a56f94734548c5b817507/flutter_icon.png" alt="FLUTTER" />
          <hr />
          <div class='creator'>
            <p><ins>Flutter</ins></p>
          </div>
        </div>
      </div>
      <div class="nft">
        <div class='main'>
          <img class='tokenImage' src="https://vidcache.net:8161/static/0ba9abd202e4818edf060c8c040a216342b4da84/flet_icon.png" alt="FLET" />
          <hr />
          <div class='creator'>
            <p><ins>Flet</ins></p>
          </div>
        </div>
      </div>
      <div class="nft">
        <div class='main'>
          <img class='tokenImage' src="https://vidcache.net:8161/static/b83ca0cca4d1b8511a813cfafceadca1f5f46b6c/dotnet_icon.png" alt="DOTNET" />
          <hr />
          <div class='creator'>
            <p><ins>.NET</ins></p>
          </div>
        </div>
      </div>
    </section>

    <h2 class="skills_subtitle" style="margin-top: 5%;">
      Backend
    </h2>
    <section class="skills_list">
      <div class="nft">
        <div class='main'>
          <img class='tokenImage' src="https://vidcache.net:8161/static/cdc0bba7672b836f9c42306a17a9625524780fb2/spring-boot-icon.png" alt="SPRINGBOOT" />
          <hr />
          <div class='creator'>
            <p><ins>Springboot</ins></p>
          </div>
        </div>
      </div>
      <div class="nft">
        <div class='main'>
          <img class='tokenImage' src="https://vidcache.net:8161/static/4a2e5dd03dd9941801cc020c8949b698e7432e93/nodejs_icon.png" alt="NODEJS" />
          <hr />
          <div class='creator'>
            <p><ins>Node JS</ins></p>
          </div>
        </div>
      </div>
      <div class="nft">
        <div class='main'>
          <img class='tokenImage' src="https://vidcache.net:8161/static/e210d8fb56a6708ea37d51e8bb9ff51e6f50bb9c/php_icon.png" alt="PHP" />
          <hr />
          <div class='creator'>
            <p><ins>PHP</ins></p>
          </div>
        </div>
      </div>
      <div class="nft">
        <div class='main'>
          <img class='tokenImage' src="https://vidcache.net:8161/static/2f698d1eaa33662436b5a8ae206c5a1b713b4f19/python_icon.png" alt="PYTHON" />
          <hr />
          <div class='creator'>
            <p><ins>Python</ins></p>
          </div>
        </div>
      </div>
      <div class="nft">
        <div class='main'>
          <img class='tokenImage' src="https://vidcache.net:8161/static/36eadf725016165e61576db80ea8f82243cf2c69/asp_dotnet_icon.png" alt="ASPDOTNET" />
          <hr />
          <div class='creator'>
            <p><ins>ASP .Net</ins></p>
          </div>
        </div>
      </div>
    </section>

    <h2 class="skills_subtitle" style="margin-top: 5%;">
      DataBase
    </h2>
    <section class="skills_list">
      <div class="nft">
        <div class='main'>
          <img class='tokenImage' src="https://vidcache.net:8161/static/1e4e15caf6c21be6efcea5c21c6cdb221a6d7764/sql_server_icon.jpg" alt="SQLSERVER" />
          <hr />
          <div class='creator'>
            <p><ins>Sql Server</ins></p>
          </div>
        </div>
      </div>
      <div class="nft">
        <div class='main'>
          <img class='tokenImage' src="https://vidcache.net:8161/static/a7948f3246024733619d54120c3e5fb0d1994286/mysql_icon.png" alt="MYSQL" />
          <hr />
          <div class='creator'>
            <p><ins>MySql</ins></p>
          </div>
        </div>
      </div>
      <div class="nft">
        <div class='main'>
          <img class='tokenImage' src="https://vidcache.net:8161/static/9c052166d3f76f0927697798641e5c693a1f7282/postregresql_icon.png" alt="POSTGRESQL" />
          <hr />
          <div class='creator'>
            <p><ins>PostgreSQL</ins></p>
          </div>
        </div>
      </div>
      <div class="nft">
        <div class='main'>
          <img class='tokenImage' src="https://vidcache.net:8161/static/375e9dde1784e26f404fe77d679ea7af5e608501/oracle-db_icon.png" alt="ORACLE" />
          <hr />
          <div class='creator'>
            <p><ins>Oracle DB</ins></p>
          </div>
        </div>
      </div>
      <div class="nft">
        <div class='main'>
          <img class='tokenImage' src="https://vidcache.net:8161/static/e677fc280a91c70d723c0aafd1aea178ca4f0034/file_type_mongo_icon_130383.png" alt="MONGODB" />
          <hr />
          <div class='creator'>
            <p><ins>Mongo DB</ins></p>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>

