
.menu_container{
  margin: 0;
  display: flex;
  width: 100%;
  align-items: right;
  text-align:right;
  justify-content:space-between;
  box-shadow: 10px 1px 10px;
  background: #0e0b16b7;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.menu{
  list-style: none;
  text-align: end;
}

.menu_item{
  float: left;
  display: inline;
  margin-right: 2em;
  margin-top: 1em;
}

.menu_item:hover{
  font-weight: bold;
}

.text_item{
  color:rgb(235, 234, 234);
  text-decoration: none;
  font-size: 1.5em;
}

.text_item:hover{
  text-shadow: -5px -1px  1Px #4717F6;
}


.image_container{
  align-items: flex-start;
}

.example-card {
  //max-width: 400px;
  background-color: #0E0B16;
}

.example-header-image {
  background-image: url('https://vidcache.net:8161/static/3ca995677fdb57dad787fb72a98c3deb7ac2b61b/foto_perfil.jpeg');
  background-size: cover;
}

.card_title{
  color: #4717F6;
  font-family: monospace;
}

.card_subtitle{
  font-family: monospace;
}

