<div class="menu_container">
  <div class="image_container">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title class="card_title">Steven Barragan</mat-card-title>
        <mat-card-subtitle class="card_subtitle">Software Developer</mat-card-subtitle>


      </mat-card-header>
    </mat-card>
  </div>
  <ul class="menu">
    <li class="menu_item"><a href="#home" class="text_item">Home</a></li>
    <li class="menu_item"><a href="#about" class="text_item">About</a></li>
    <li class="menu_item"><a href="#" class="text_item">Projects</a></li>
    <li class="menu_item"><a href="#" class="text_item">Contact</a></li>
  </ul>
</div>
