//PALETA DE COLORES
/*
  VOID: #0E0B16
  FUSCHIA: #A239CA
  JEWEL: #4717F6
  STARK: #E7DFDD
*/

$prymary-color: #0E0B16;
$secondary-color: #A239CA;
$third-color: #4717F6;
$fourth-color: #E7DFDD;

/*.body_container{
   background-color: $fourth-color;
}*/


