<div class="title_container">
  <section class="title_container_text">
    <div><h1 class='title'>HEY, I'M <b  style="color:#4717F6">STEVEN BARRAGAN</b></h1></div>
    <div> <span class="text_title">FullStack Developer</span></div>
    <div><span class="text_content">
      +1 year of experience in web and mobile development, applying best practices and agile methodologies to ensure efficient and quality results.</span></div>
  </section>
  <section class="title_container_image">
    <div><img class="presentation_img" src="https://vidcache.net:8161/static/f3ddc241568a02dcbfd3d268ea0a14795d7e7a95/presentation_gif_1.gif"></div>
  </section>
</div>
